<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satoriviacafe.cafe.mapper.CafeProductionMapper">
    <resultMap type="CafeProduction" id="CafeProductionResult">
        <result property="prodId"    column="prod_id"/>
        <result property="prodName"    column="prod_name"/>
        <result property="prodDesc"    column="prod_desc"/>
        <result property="prodImg"    column="prod_img"/>
        <result property="prodPrice"    column="prod_price"/>
        <result property="prodText"    column="prod_text"/>
        <result property="orderNum"    column="order_num"/>
        <result property="prodStatus"    column="prod_status"/>
        <result property="createBy"    column="create_by"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateBy"    column="update_by"/>
        <result property="updateTime"    column="update_time"/>
        <result property="deleteAt"    column="delete_at"/>
        <result property="prodCode" column="prod_code"/>
    </resultMap>

    <sql id="selectCafeProductionVo">
        select prod_id,
               prod_name,
               prod_desc,
               prod_img,
               prod_price,
               prod_text,
               order_num,
               prod_status,
               create_by,
               create_time,
               update_by,
               update_time,
               delete_at,
               prod_code
        from cafe_production
    </sql>

    <select id="selectCafeProductionList" parameterType="CafeProduction" resultMap="CafeProductionResult">
        <include refid="selectCafeProductionVo"/>
        <where>
            <if test="prodName != null  and prodName != ''"> and prod_name like concat('%', #{prodName}, '%')</if>
            <if test="prodDesc != null  and prodDesc != ''"> and prod_desc = #{prodDesc}</if>
            <if test="prodImg != null  and prodImg != ''"> and prod_img = #{prodImg}</if>
            <if test="prodPrice != null "> and prod_price = #{prodPrice}</if>
            <if test="prodText != null  and prodText != ''"> and prod_text = #{prodText}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="prodStatus != null  and prodStatus != ''"> and prod_status = #{prodStatus}</if>
            <if test="prodCode != null  and prodCode != ''">
                and prod_code = #{prodCode}
            </if>
        and delete_at IS NULL
</where>
        </select>

<select id="selectCafeProductionByProdId" parameterType="Long" resultMap="CafeProductionResult">
    <include refid="selectCafeProductionVo"/>
    where prod_id = #{prodId}
    and delete_at IS NULL
</select>

<insert id="insertCafeProduction" parameterType="CafeProduction" useGeneratedKeys="true" keyProperty="prodId">
insert into cafe_production
<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodName != null">prod_name,</if>
            <if test="prodDesc != null">prod_desc,</if>
            <if test="prodImg != null">prod_img,</if>
            <if test="prodPrice != null">prod_price,</if>
            <if test="prodText != null">prod_text,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="prodStatus != null">prod_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteAt != null">delete_at,</if>
    <if test="prodCode != null">
        prod_code,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prodName != null">#{prodName},</if>
            <if test="prodDesc != null">#{prodDesc},</if>
            <if test="prodImg != null">#{prodImg},</if>
            <if test="prodPrice != null">#{prodPrice},</if>
            <if test="prodText != null">#{prodText},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="prodStatus != null">#{prodStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteAt != null">#{deleteAt},</if>
    <if test="prodCode != null">
        #{prodCode},
    </if>
</trim>
</insert>

<insert id="insertBatchCafeProduction"  useGeneratedKeys="true" keyProperty="prodId">
insert into cafe_production
<trim prefix="(" suffix=")" suffixOverrides=",">
            prod_name,
            prod_desc,
            prod_img,
            prod_price,
            prod_text,
            order_num,
            prod_status,
            create_by,
            create_time,
            update_by,
            update_time,
            delete_at,
    prod_code,
</trim>
values
<foreach collection="list" item="item" separator=",">
    (
    <trim suffixOverrides=",">
                #{item.prodName},
                #{item.prodDesc},
                #{item.prodImg},
                #{item.prodPrice},
                #{item.prodText},
                #{item.orderNum},
                #{item.prodStatus},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime},
                #{item.deleteAt},
        #{item.prodCode},
    </trim>
    )
</foreach>
</insert>

<insert id="insertBatchIgnoreCafeProduction"  useGeneratedKeys="true" keyProperty="prodId">
insert ignore into cafe_production
<trim prefix="(" suffix=")" suffixOverrides=",">
            prod_name,
            prod_desc,
            prod_img,
            prod_price,
            prod_text,
            order_num,
            prod_status,
            create_by,
            create_time,
            update_by,
            update_time,
            delete_at,
    prod_code,
</trim>
values
<foreach collection="list" item="item" separator=",">
    (
    <trim suffixOverrides=",">
                #{item.prodName},
                #{item.prodDesc},
                #{item.prodImg},
                #{item.prodPrice},
                #{item.prodText},
                #{item.orderNum},
                #{item.prodStatus},
                #{item.createBy},
                #{item.createTime},
                #{item.updateBy},
                #{item.updateTime},
                #{item.deleteAt},
        #{item.prodCode},
    </trim>
    )
</foreach>
</insert>

<update id="updateCafeProduction" parameterType="CafeProduction">
update cafe_production
<trim prefix="SET" suffixOverrides=",">
            <if test="prodName != null">prod_name = #{prodName},</if>
            <if test="prodDesc != null">prod_desc = #{prodDesc},</if>
            <if test="prodImg != null">prod_img = #{prodImg},</if>
            <if test="prodPrice != null">prod_price = #{prodPrice},</if>
            <if test="prodText != null">prod_text = #{prodText},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="prodStatus != null">prod_status = #{prodStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteAt != null">delete_at = #{deleteAt},</if>
    <if test="prodCode != null">
        prod_code = #{prodCode},
    </if>
</trim>
where prod_id = #{prodId}
    and delete_at IS NULL
</update>

<update id="updateBatchCafeProduction" >
<foreach collection="list" item="item" separator=";">
    update cafe_production
    <trim prefix="SET" suffixOverrides=",">
                <if test="item.prodName != null">prod_name = #{item.prodName},</if>
                <if test="item.prodDesc != null">prod_desc = #{item.prodDesc},</if>
                <if test="item.prodImg != null">prod_img = #{item.prodImg},</if>
                <if test="item.prodPrice != null">prod_price = #{item.prodPrice},</if>
                <if test="item.prodText != null">prod_text = #{item.prodText},</if>
                <if test="item.orderNum != null">order_num = #{item.orderNum},</if>
                <if test="item.prodStatus != null">prod_status = #{item.prodStatus},</if>
                <if test="item.createBy != null">create_by = #{item.createBy},</if>
                <if test="item.createTime != null">create_time = #{item.createTime},</if>
                <if test="item.updateBy != null">update_by = #{item.updateBy},</if>
                <if test="item.updateTime != null">update_time = #{item.updateTime},</if>
                <if test="item.deleteAt != null">delete_at = #{item.deleteAt},</if>
        <if test="item.prodCode != null">
            prod_code = #{item.prodCode},
        </if>
    </trim>
    where prod_id = #{item.prodId}
        and delete_at IS NULL
</foreach>
</update>

<update id="deleteCafeProductionByProdId" parameterType="Long">
update cafe_production
set delete_at = now()
where prod_id = #{prodId}
and delete_at IS NULL
</update>

<update id="deleteCafeProductionByProdIds" parameterType="String">
update cafe_production
set delete_at = now()
where prod_id in
<foreach item="prodId" collection="array" open="(" separator="," close=")">
    #{prodId}
</foreach>
and delete_at IS NULL
</update>

</mapper>
